@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 8% 5%; /* space black */
    --foreground: 60 89% 96%; /* space white */

    --card: 212 21% 14%;
    --card-foreground: 60 89% 96%;

    --popover: 212 21% 14%; /* space blue */
    --popover-foreground: 60 89% 96%; /* space white */

    --primary: 212 21% 14%; /* space blue */
    --primary-foreground: 168 100% 50%; /* space teal */

    --secondary: 168 100% 50%; /* space teal */
    --secondary-foreground: 212 21% 14%; /* space blue */

    --muted: 60 8% 5%; /* space black */
    --muted-foreground: 90 3% 61%; /* space gray */

    --accent: 43 95% 70%; /* space yellow */
    --accent-foreground: 60 8% 5%; /* space black */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 168 100% 50%;
    --input: 168 100% 50%;
    --ring: 168 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --pill: rgba(255,255,255,0.15);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-primary text-foreground;
  }

  .fullscreen {
    min-height: 100vh; /* Fallback for browsers */
    min-height: -webkit-fill-available; /* For Safari on iOS */
  }
}
